<div class="sidebar">
    <div class="sidebar-collapse">
        <!-- Sidebar Header Logo-->
        <div class="sidebar-header">
            <img src="assets/img/logo.png" class="img-responsive" alt="" />
        </div>
        <!-- Sidebar Menu-->
        <div class="sidebar-menu">
            <nav id="menu" class="nav-main" role="navigation">
                <ul class="nav nav-sidebar">
                    <div class="panel-body text-center">
                        <div class="bk-avatar">
                            <img src="assets/img/avatar.jpg" class="img-circle bk-img-60" alt="" />
                        </div>
                        <div class="bk-padding-top-10">
                            <i class="fa fa-circle text-success"></i> <small>Administrator</small>
                        </div>
                    </div>
                    <div class="divider2"></div>
                    <li class="nav-parent">
                        <a>
                            <i class="glyphicon glyphicon-home" aria-hidden="true"></i><span>首页服务</span>
                        </a>
                        <ul class="nav nav-children">
                            <li><a href="{:U('home/madeList')}"><i class="glyphicon glyphicon-pushpin"></i><span class="text"> 定制服务</span></a></li>
                            <li><a href="{:U('home/planeList')}"><i class="fa fa-plane"></i><span class="text"> 接机服务</span></a></li>
                            <li><a href="{:U('home/carList')}"><i class="fa fa-truck"></i><span class="text"> 包车服务</span></a></li>
                        </ul>
                    </li>
                    <li class="nav-parent">
                        <a>
                            <i class="fa fa-tags" aria-hidden="true"></i><span>攻略</span>
                        </a>
                        <ul class="nav nav-children">
                            <li><a href="{:U('raider/raiderAdd')}"><i class="glyphicon glyphicon-pencil"></i><span class="text">添加攻略</span></a></li>
                            <li><a href="{:U('raider/studentList')}"><i class="fa fa-tag"></i><span class="text">新生攻略</span></a></li>
                            <li><a href="{:U('raider/brotherList')}"><i class="fa fa-gittip"></i><span class="text">师兄分享</span></a></li>
                        </ul>
                    </li>

                    <li class="nav-parent">
                        <a>
                            <i class="fa fa-instagram" aria-hidden="true"></i><span>我的服务</span>
                        </a>
                        <ul class="nav nav-children">
                            <li><a href="{:U('mine/ticketList')}"><i class="fa fa-ticket"></i><span class="text">优惠券</span></a></li>
                            <li><a href="{:U('mine/orderList')}"><i class="glyphicon glyphicon-list-alt"></i><span class="text">订单</span></a></li>
                            <li><a href="{:U('mine/releaseList')}"><i class="fa fa-share-square-o"></i><span class="text">发布</span></a></li>
                            <li><a href="{:U('mine/driverList')}"><i class="fa fa-road"></i><span class="text">司机行程</span></a></li>
                        </ul>
                    </li>

                    <li class="nav-parent">
                        <a>
                            <i class="glyphicon glyphicon-user" aria-hidden="true"></i><span>人员管理</span>
                        </a>
                        <ul class="nav nav-children">
                            <li><a href="{:U('users/userList')}"><i class="fa fa-users"></i><span class="text">用户管理</span></a></li>
                            <li><a href="{:U('users/driversList')}"><i class="fa fa-user-md"></i><span class="text">司机管理</span></a></li>
                            <li><a href="{:U('users/adminList')}"><i class="fa fa-user"></i><span class="text">管理员</span></a></li>
                        </ul>
                    </li>

                    <li class="nav-parent">
                        <a>
                            <i class="fa fa-comments-o" aria-hidden="true"></i><span>消息管理</span>
                        </a>
                        <ul class="nav nav-children">
                            <li><a href="{:U('msg/commentList')}"><i class="fa fa-comment"></i><span class="text">评论管理</span></a></li>
                            <li><a href="{:U('msg/evaluateList')}"><i class="fa fa-comment-o"></i><span class="text">评价管理</span></a></li>
                            <li><a href="{:U('msg/feedbackList')}"><i class="glyphicon glyphicon-comment"></i><span class="text">反馈管理</span></a></li>
                            <li><a href="{:U('msg/msgList')}"><i class="fa fa-comments"></i><span class="text">消息管理</span></a></li>
                        </ul>
                    </li>

                    <li class="nav-parent">
                        <a>
                            <i class="fa fa-flask" aria-hidden="true"></i><span>学生服务</span>
                        </a>
                        <ul class="nav nav-children">
                            <li><a href="form-elements.html"><i class="fa fa-ticket"></i><span class="text">购买机票</span></a></li>
                            <li><a href="form-wizard.html"><i class="fa fa-hand-o-right"></i><span class="text">行前指导</span></a></li>
                            <li><a href="form-dropzone.html"><i class="fa fa-star-half-o"></i><span class="text">个性需求</span></a></li>
                            <li><a href="form-dropzone.html"><i class="fa fa-shield"></i><span class="text">管家服务</span></a></li>
                            <li><a href="form-dropzone.html"><i class="fa fa-bookmark"></i><span class="text">行李寄存</span></a></li>
                            <li><a href="form-dropzone.html"><i class="fa fa-rocket"></i><span class="text">转学服务</span></a></li>
                            <li><a href="form-dropzone.html"><i class="fa fa-exclamation-triangle"></i><span class="text">危机处理</span></a></li>
                            <li><a href="form-dropzone.html"><i class="fa fa-arrow-circle-left"></i><span class="text">寻找实习</span></a></li>
                        </ul>
                    </li>

                    <li class="nav-parent">
                        <a>
                            <i class="glyphicon glyphicon-briefcase " aria-hidden="true"></i><span>家长服务</span>
                        </a>
                        <ul class="nav nav-children">
                            <li><a href="form-elements.html"><i class="glyphicon glyphicon-search"></i><span class="text">探望子女</span></a></li>
                            <li><a href="form-wizard.html"><i class="glyphicon glyphicon-lock"></i><span class="text">商务考察</span></a></li>
                            <li><a href="form-dropzone.html"><i class="glyphicon glyphicon-phone-alt"></i><span class="text">移民咨询</span></a></li>
                            <li><a href="form-dropzone.html"><i class="glyphicon glyphicon-bullhorn"></i><span class="text">监护服务</span></a></li>
                            <li><a href="form-dropzone.html"><i class="fa fa-book"></i><span class="text">办理签证</span></a></li>
                            <li><a href="form-dropzone.html"><i class="fa fa-building-o"></i><span class="text">房屋出租</span></a></li>
                            <li><a href="form-dropzone.html"><i class="fa fa-dashboard (alias)"></i><span class="text">海外房产</span></a></li>
                            <li><a href="form-dropzone.html"><i class="fa fa-random"></i><span class="text">商务合作</span></a></li>
                        </ul>
                    </li>


                </ul>
            </nav>
        </div>
        <!-- End Sidebar Menu-->
    </div>
    <!-- Sidebar Footer-->
    <div class="sidebar-footer">
        <ul class="sidebar-terms">
            <li><a href="index.html#">Terms</a></li>
            <li><a href="index.html#">Privacy</a></li>
            <li><a href="index.html#">Help</a></li>
            <li><a href="index.html#">About</a></li>
        </ul>

    </div>
    <!-- End Sidebar Footer-->
</div>