<!DOCTYPE html>
<html lang="en">

<block name="include">
    <include file="Public:head" />
</block>

<body>

    <block name="include">
        <include file="Public:navbar" />
    </block>

    <div class="container-fluid content">
        <div class="row">

            <block name="include">
                <include file="Public:menu" />
            </block>

            <!-- Main Page -->
            <div class="main ">
                <!-- Page Header -->
                <div class="page-header">
                    <div class="pull-left">
                        <ol class="breadcrumb visible-sm visible-md visible-lg">
                            <li><a href="{:U('index/index')}">首页</a></li>
                            <li><a href="{:U('home/madeList')}">定制列表</a></li>
                            <li class="active">定制详情</li>
                        </ol>
                    </div>
                    <div class="pull-right">
                        <h2>MEADINFO</h2>
                    </div>
                </div>
                <!-- End Page Header -->
                <div class="row">
                    <div class="panel bk-widget bk-border-off bk-noradius">
                        <div class="panel-heading bk-bg-primary">
                            <div class="row">
                                <div class="col-xs-8 text-left bk-vcenter">
                                    <h6 class="bk-margin-off">定制详情页</h6>
                                </div>
                                <div class="panel-actions bk-padding-right-30">
                                    <a href="{:U('Home/madeAdd')}"><button class="bk-margin-4 btn label-warning">修改定制</button></a>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body bk-bg-white bk-padding-off-top bk-padding-off-bottom">
                            <div class="row container">
                                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 bk-vcenter">
                                    <h3 class="text-center bk-padding-20">我是标题我是标题我是标题我</h3>
                                    <div class="bk-avatar">
                                        <img src="assets/img/gallery/photo6.jpg" alt="" class="img-responsive bk-border-off" />
                                    </div>
                                    <p class="bk-padding-top-10">
                                        我是内容 我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容
                                    </p>
                                </div>
                                <div class="panel-body">
                                    <if condition="$res.is_show eq 1 ">
                                        <button type="button" class="bk-margin-5 btn btn-default active" disabled><i class="glyphicon glyphicon-star"></i>推荐</button>
                                        <else />
                                        <button type="button" class="bk-margin-5 btn btn-default active" disabled> 不推荐</button>
                                    </if>
                                </div>
                                <hr class="bk-margin-off" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Main Page -->

        </div>
    </div>
    <!--/container-->

    <div class="clearfix"></div>


    <block name="include">
        <include file="Public:footer" />
    </block>

</body>

</html>